{% extends "base.html" %}

{% block style %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/frame.css" />
{% endblock %}

{% block script %}
    {{super()}}
    <script type="text/javascript" src="{{STATIC_URL}}js/frame.js"></script>
{% endblock %}

{% block body %}
    <div class="camera-frame" id="camera{{camera_id}}"
            streaming_framerate="{{camera_config['stream_maxrate']}}" streaming_server_resize="{{camera_config['@webcam_server_resize']}}">
        
        <div class="camera-container">
            <div class="camera-placeholder"><img class="no-camera" src="{{STATIC_URL}}img/no-camera.svg"></div><img
                class="camera"><div class="camera-progress"><img class="camera-progress"></div>
        </div>
    </div>
{% endblock %}
